* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.chat {
  list-style-type: none;
  padding: 10px;
}

.aliceblue {
  background-color: rgba(0, 28, 64, 0.7);
}

.list {
  padding: 8px;
  margin: 5px;
  font-size: larger;
  color: #fffffb;
  border-radius: 10px;
}

.form {
  position: fixed;
  bottom: 0;
  left: 0;
  overscroll-behavior: contain;
  right: 0;
  width: 100vw;
  display: grid;
  grid-template-columns: 7fr 1fr;
  height: 30px;
}

.message-input {
  border: 1px solid rgb(0, 0, 0, 10%);
  border-radius: 15px;
  padding-left: 15px;
  font-size: 16px;
}

.submit-button {
  background-color: rgb(85, 165, 235);
  color: white;
}

i {
  font-size: 20px;
  color: #42acff;
}
